@{
    ViewData["Title"] = "Beneficiaries";
}

<!-- Hero Banner -->
<section id="ben-banner" class="hover-shift smoothie match-height" data-mh="page-splitter" style="display: block; height: 598px;">
            <div class="container match-height" data-mh="page-splitter" style="display: block; height: 598px;">
                <div class="row">   
                    <div class="col-md-4 dark-overlay fill-left smoothie">
                        <div class="section-inner">
                            <div class="row">
                                <div class="col-md-offset-1 col-md-10">
                                    <h3>Our Beneficiaries</h3>
                                    <h5 class="section-sub-title mb40">where our donations go</h5>
                                    <p>We are proud to support the following seven charities with the proceeds from our race.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!-- list of beneficiaries -->
<section id="our-courses">
    <div class="section-inner">
        <div class="container" style="margin-top: 80px;">
            <div class="row">

                <div class="col-md-12" style="margin-bottom: 160px;">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="hover-effect smoothie mb40">
                                <a href="http://www.childrensmercy.org/" class="smoothie" target="_blank">
                                    <img src="~/assets/images/Beneficiaries/childrens-mercy.png" alt="Logo for Childrens Mercy Cancer Center" class="img-responsive smoothie px-5 mx-auto">
                                </a>
                                <div class="hover-caption dark-overlay smoothie text-center">
                                    <div class="vertical-center-js">
                                        <a href="http://www.childrensmercy.org/" target="_blank" class="btn btn-primary btn-green">Visit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <h2 class="mt0 mb40">Children's Mercy Cancer Center</h2>
                            <p class="mb20">
                                <small>
                                    The mission of the Children’s Mercy Cancer Center is to improve the physical
                                    and emotional well being of children with cancer and their families.  At Children’s Mercy Hospitals
                                    and Clinics, we are redefining pediatric medicine to help children smile again throughout the Midwest
                                    and beyond. We are the only free-standing children’s hospitals between St. Louis and Denver and
                                    provide comprehensive care from birth to 18. Children’s Mercy is consistently ranked among the leading
                                    children’s hospitals in the nation, and we were the first hospital in Missouri or Kansas to earn the
                                    prestigious Magnet designation for excellence in patient care from the American Nurses Credentialing Center.
                                </small>
                            </p>
                            <a href="http://www.childrensmercy.org/" target="_blank" class="btn btn-primary btn-green">Visit Children's Mercy</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="margin-bottom: 160px;">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="hover-effect smoothie mb40">
                                <a href="http://www.kcdream.org/" target="_blank" class="smoothie">
                                    <img src="~/assets/images/Beneficiaries/dream-factory.png" alt="Logo for Dream Factory" class="img-responsive smoothie px-5 mx-auto">
                                </a>
                                <div class="hover-caption dark-overlay smoothie text-center">
                                    <div class="vertical-center-js">
                                        <a href="http://www.kcdream.org/" target="_blank" class="btn btn-primary btn-green">Visit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <h2 class="mt0 mb40">The Dream Factory</h2>
                            <p class="mb20">
                                <small>
                                    Since 1985, the Dream Factory of Greater Kansas City has remained dedicated
                                    to making dreams come true for critically or chronically ill children. As a 100 percent volunteer
                                    organization, granting dreams is our mission, smiling children is our vision. And in more than
                                    two decades, our devoted volunteers and generous business supporters have created thousands of
                                    smiles. We are proud to say that more than 85 percent of the funds raised or donated to the
                                    Greater Kansas City chapter of the Dream Factory remain right here, granting the dreams of
                                    deserving children in our community.
                                </small>
                            </p>
                            <a href="http://www.kcdream.org/" target="_blank" class="btn btn-primary btn-green">Visit The Dream Factory</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-12" style="margin-bottom: 160px;">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="hover-effect smoothie mb40">
                                <a href="http://www.lls.org/" target="_blank" class="smoothie">
                                    <img src="~/assets/images/Beneficiaries/Leukemia_Lymphoma_Society.jpeg" alt="Logo for The Leukemia and Lymphoma Society" class="img-responsive smoothie px-5 mx-auto">
                                </a>
                                <div class="hover-caption dark-overlay smoothie text-center">
                                    <div class="vertical-center-js">
                                        <a href="http://www.lls.org/" target="_blank" class="btn btn-primary btn-green">Visit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <h2 class="mt0 mb40">Leukemia & Lymphoma Society</h2>
                            <p class="mb20">
                                <small>
                                    The mission of The Leukemia & Lymphoma Society (LLS) is: cure leukemia,
                                    lymphoma, Hodgkin’s disease and myeloma, and improve the quality of life of patients and
                                    their families.  LLS is the world’s largest voluntary health agency dedicated to blood cancer.
                                    LLS funds lifesaving blood cancer research around the world and provides free information
                                    and support services.
                                </small>
                            </p>
                            <a href="http://www.lls.org/" target="_blank" class="btn btn-primary btn-green">Visit Leukemia & Lymphoma Society</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="margin-bottom: 160px;">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="hover-effect smoothie mb40">
                                <a href="http://www.marrow.org/" target="_blank" class="smoothie">
                                    <img src="~/assets/images/Beneficiaries/marrow.jpg" alt="Heart of America Bone Marrow Donor Registry" class="img-responsive smoothie px-5 mx-auto">
                                </a>
                                <div class="hover-caption dark-overlay smoothie text-center">
                                    <div class="vertical-center-js">
                                        <a href="http://www.marrow.org/" target="_blank" class="btn btn-primary btn-green">Visit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <h2 class="mt0 mb40">Be The Match Registry</h2>
                            <p class="mb20">
                                <small>
                                    Every year, thousands of people of all ages are diagnosed with blood cancers like leukemia
                                    or lymphoma, sickle cell anemia or other life-threatening diseases. Many of them will die unless they get a
                                    bone marrow or cord blood transplant from a matching donor. Seventy percent of people do not have a donor in
                                    their family and depend on our Be The Match Registry to find a match to save their life.  The National Marrow
                                    Donor Program® (NMDP), a nonprofit organization, is the global leader in providing bone marrow and umbilical
                                    cord blood transplants to patients in need.  As Be The Match®, we operate the Be The Match Registry®, the world’s
                                    largest listing of potential marrow donors and donated cord blood units and raise funds to help provide
                                    transplants to all patients through the Be The Match Foundation®. We also match patients with donors, educate
                                    health care professionals and conduct research through our research arm, the Center for International Blood and
                                    Marrow Transplant Research® (CIBMTR), so more lives can be saved.
                                </small>
                            </p>
                            <a href="http://www.marrow.org/" target="_blank" class="btn btn-primary btn-green">Visit The NMDP</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="margin-bottom: 160px;">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="hover-effect smoothie mb40">
                                <a href="http://www.rmhckc.org/" target="_blank" class="smoothie">
                                    <img src="~/assets/images/Beneficiaries/ronald-mcdonald.jpeg" alt="Logo for Ronald McDonald House Charities" class="img-responsive smoothie px-5 mx-auto">
                                </a>
                                <div class="hover-caption dark-overlay smoothie text-center">
                                    <div class="vertical-center-js">
                                        <a href="http://www.rmhckc.org/" target="_blank" class="btn btn-primary btn-green">Visit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <h2 class="mt0 mb40">Ronald McDonald House Charities</h2>
                            <p class="mb20">
                                <small>
                                    The Ronald McDonald Houses are a “Home Away From Home” for thousands of families every year who must
                                    travel to the Kansas City area to receive medical treatment for a sick or injured child. Together, the two Ronald
                                    McDonald Houses (Cherry Street House & Longfellow House) provide temporary lodging to as many as 60 families each night
                                    while their children undergo vital medical care. The family Suites inside our Longfellow House, allow us to serve
                                    immuno-suppressed children and their families (i.e. organ transplants and bone marrow transplants). Both Houses offer a
                                    warm and welcoming place to sleep, as well as full kitchen facilities, laundry facilities, living rooms and recreation
                                    areas to provide a homey environment where families may relax away from the stresses of the hospital and meet other
                                    families experiencing similar crises.
                                </small>
                            </p>
                            <a href="http://www.rmhckc.org/" target="_blank" class="btn btn-primary btn-green">Visit Ronald McDonald House Charities</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="margin-bottom: 160px;">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="hover-effect smoothie mb40">
                                <a href="https://www.kchospice.org/solace-house/" target="_blank" class="smoothie">
                                    <img src="~/assets/images/Beneficiaries/kc-hospice.png" alt="Logo for Solace House" class="img-responsive smoothie px-5 mx-auto">
                                </a>
                                <div class="hover-caption dark-overlay smoothie text-center">
                                    <div class="vertical-center-js">
                                        <a href="https://www.kchospice.org/solace-house/" target="_blank" class="btn btn-primary btn-green">Visit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <h2 class="mt0 mb40">Solace House</h2>
                            <p class="mb20">
                                <small>
                                    Kansas City Hospice's Solace House is a grief counseling center specifically designed to guide children, individuals and
                                    their families through the pivotal time following the death of a loved one. Age-specific support groups are offered
                                    where participants are encouraged to share their stories with the help of a group facilitator.
                                </small>
                            </p>
                            <a href="https://www.kchospice.org/solace-house/" target="_blank" class="btn btn-primary btn-green">Visit Solace House</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="margin-bottom: 160px;">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="hover-effect smoothie mb40">
                                <a href="https://www.kuendowment.org/AlisonsAllies" target="_blank" class="smoothie">
                                    <img src="~/assets/images/Beneficiaries/alisons-allies.png" alt="Logo for Alisons Allies" class="img-responsive smoothie px-5 mx-auto">
                                </a>
                                <div class="hover-caption dark-overlay smoothie text-center">
                                    <div class="vertical-center-js">
                                        <a href="https://www.kuendowment.org/AlisonsAllies" target="_blank" class="btn btn-primary btn-green">Visit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <h2 class="mt0 mb40">Alison's Allies</h2>
                            <p class="mb20">
                                <small>
                                    In honor of Jayne, Jared’s mom, funds are donated annually to breast cancer charities which
                                    support breast cancer awareness, research, and care. We are proud to announce that a portion of our funds are
                                    going to a local breast cancer initiative through Alison’s Allies, a local team focused on breast cancer which 
                                    is working with the KU Cancer Center. Alison’s Allies supports breast cancer screening, health equity,
                                    care, & research. Funds are 100% tax-deductible through the website.
                                </small>
                            </p>
                            <a href="https://www.kuendowment.org/AlisonsAllies" target="_blank" class="btn btn-primary btn-green">Visit Alisons Allies</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>