@{
    ViewData["Title"] = "Sponsor Messages";
}

<!-- Hero Banner -->
<section id="sponsor-messages" class="hover-shift smoothie match-height" data-mh="page-splitter" style="display: block; height: 598px;">
            <div class="container match-height" data-mh="page-splitter" style="display: block; height: 598px;">
                <div class="row">   
                    <div class="col-md-4 dark-overlay fill-left smoothie">
                        <div class="section-inner">
                            <div class="row">
                                <div class="col-md-offset-1 col-md-10">
                                    <h3>Sponsor Messages</h3>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- One Hour -->
        <section style="display: block; height: 507px;" class="mb60">
            <div class="container match-height" data-mh="page-splitter" style="display: block; height: 507px;">
                <div class="row">   
                    <div>
                        <div class="section-inner">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/assets/images/Sponsors/color-logo.jpg" class="spons-message" />                                                                 <h3 class="text-center mt-5">Title Sponsor</h3>
                                </div>
                                <div class="col-md-6 mb-5"><iframe width="774" height="400" src="https://www.youtube.com/embed/HOXHRinWkQE" title="Jared Coones Memorial Pumpkin Run 5k | One Hour Heating and Air Conditioning" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <!-- Community America -->
          <section style="display: block; height: 1200px;" class="mb60 silver-wrapper">
            <div class="container match-height" data-mh="page-splitter" style="display: block; height: 507px;">
                <div class="row">   
                    <div>
                        <div class="section-inner">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/assets/images/Sponsors/communityamerica.png" class="spons-message" />                                                               <h3 class="text-center mt-5">Start/Finish Sponsor</h3>
                                </div>
                                <div class="col-md-6 mb-5"><iframe width="774" height="400" src="https://www.youtube.com/embed/_QhmsJXs8fE" title="CACU Jared Coones Pumpkin Run" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="~/assets/images/IMG_20191012_073526-scaled.jpg" class="cacu-pic tex" />
                                    </div>
                                    <div class="col-md-6">
                                        <p>CommunityAmerica Credit Union has proudly supported the Jared Coones Memorial Pumpkin Run since its inception and is one of our longest standing charitable relationships.  In fact, the relationship with the Coones family began earlier when CommunityAmerica held an account set up to help support the family during Jared’s cancer treatment.  Subsequently, the Jared Coones Memorial Foundation was formed and Linda Boring, Vice President of Member Operations at CommunityAmerica, has served ever since on its board of directors.  CommunityAmerica loves that this is a grass-roots community event, drawing youth and families together to help a variety of nonprofit organizations in the Kansas City area support children and adults dealing with cancer.  CommunityAmerica was proud to be the presenting sponsor of the Pumpkin Run for its 20th Anniversary and we look forward to continuing our partnership.</p>
                                        <br />
                                        <br />
                                        <h5> Social Media</h5>
                                        <ul>
                                            <li>Facebook: <a href="https://www.facebook.com/CommunityAmerica" target="_blank">CommunityAmerica Credit Union</a></li>
                                            <li>LinkedIn: <a href="https://www.linkedin.com/company/communityamerica-credit-union/">CommunityAmerica Credit Union</a></li>
                                            <li>Twitter: <a href="https://twitter.com/CommunityAmerCU">@@CommunityAmerCU</a></li>
                                            <li>Instagram: <a href="https://www.instagram.com/communityamerica_credit_union/">@@communityamerica_credit_union</a></li>
                                        </ul>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- MidAmerica Nazarene University -->
        <section style="display: block; height: 507px;" class="mb60">
            <div class="container match-height" data-mh="page-splitter" style="display: block; height: 507px;">
                <div class="row">   
                    <div>
                        <div class="section-inner">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/assets/images/Sponsors/MNU-Logo_Full-Title-Hz-Cropped.jpg" class="spons-mnu" />                                               <h3 class="text-center mt-5">Volunteer Shirt Sponsor</h3>
                                </div>
                                <div class="col-md-6 mb-5">
                                    <iframe 
                                        width="774" height="400" 
                                        src="~/assets/images/Video/MNU-Pumpkin-Run-Video.mp4"  
                                        frameborder="0" 
                                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                <@*div class="col-md-6 mb-5"><video controls="" autoplay="" name="media"><source src="~/assets/images/Video/MNU-Pumpkin-Run-Video.mp4" type="video/mp4"></video>*@
</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>