@{
    ViewData["Title"] = "Chairs & Committee";
}



<header id="committee" class="backstretched single-page-hero">
    <div class="dark-overlay single-page-hero">
        <div class="container single-page-hero">
            <div class="vertical-center-js text-center">
                <h1>Chairs & Committee</h1>
            </div>
        </div>
    </div>
</header>
<section id="our-courses">
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <h2>Committee</h2>
                <p>
                    The planning committee has no paid members.<br />
                    This dedicated group honors Jared and Jayne by remaining all volunteer,
                    <br />helping to ensure proceeds raised for the beneficiaries are maximized.
                </p>
                <img src="~/assets/images/committee-color.jpg" alt="Committee" class="p-4" />

                <ul id="names">
                    <li>Tom Coones</li>
                    <li>Sam Miceli, Race Director</li>
                    <li>Linda Boring</li>
                    <li>Carol Brewer, Jared's Aunt'</li>
                    <li>Meghan Coones-Cook, Jared's Sister'</li>
                    <li>Stephen Cook</li>
                    <li>Laura Campbell</li>
                    <li>Owen Geisz</li>
                    <li>Mary Geisz</li>
                    <li>David Kearney</li>
                    <li>Jan Popek</li>
                    <li>Stephen Oskvig</li>
                    <li>Steve White</li>
                    <li>Jim Burt</li>
                    <li>Brandon Unruh</li>
                    <li>Katie Unruh</li>
                    <li>Kathy McMullin</li>
                    <li>Morghan Fitzsimons</li>
                    <li>Dr. Barry Cook (not pictured)</li>
                    <li>Denise Klepac (not pictured)</li>
                    <li>Cathy Kratzburg (not pictured)</li>
                </ul>
                <div class="row">
                    <div class="column">
                        <h2>Questions?</h2>
                        <p>Have any questions or concerns? Please visit our Frequently Asked Questions page by clicking the button below.</p>

                        <a class="btn btn-primary btn-lg" href="@Url.Action("FAQ", "About")" role="button">Frequently Asked Questions</a>


                    </div>
                    <div class="column">
                        <h2>Remembering Jared & Jayne</h2>
                        <p> Honoring the lives of Jared and Jayne Coones. Creating an event that celebrates family and community. Raising funds for research and organizations that support cancer patients and their families.</p>

                        <a class="btn btn-lg btn-primary" href="@Url.Action("Info","About")" target="_blank" role="button">Jared & Jaynes Coones</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
