@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li>
        <i class="fa fa-angle-right"></i><a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li>
        <i class="fa fa-angle-right"></i>
        <form  class="form-inline" style="display: inline;" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="btn-link" style="color: white;">Logout</button>
        </form>
    </li>
}
else
{
@*    <li>
        <i class="fa fa-angle-right"></i><a class="" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>*@
    <li>
        <i class="fa fa-angle-right"></i><a class="" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}

